.container {
  position: relative;
  border-radius: 100%;
 }


.socialmedia img{
  width: 22px;
  height: 20px;

}
.hoteldetails img{
  width: 500px;
  height: 500px;
}
body{
  margin: 0%;
  border: 5px solid black
}
body{
  background: #e0e0e0;
  
}
.Header{
  background: rosybrown;
}
.Footer{
  background: rosybrown;
}
.cityimage img{
  padding: 4%;
  border-radius: 50px 50px 50px 50px;
}
.cityimage{
  margin :0% 15% 0% 15%;
}
.Copyright{
  margin-left: 40%;
}
#hotelimagedeatil{
  margin: 2% 4% 0% 4%;
}
#form{
  margin: 0% 4% 1% 4%;

}
#hoteldescription{
  margin: 1% 4% 2% 4%;

}
.bottomright {
  position: static;
  bottom: 20px;
  left: 50px;
  font-size: 12px;
  margin-left:95%;
 
}

.bottomleft {
  position: relative;
  top:10px;
}
.socialmedia img{
  width: 22px;
  height: 20px;
}
.socialmedia{
  display: inline;
  margin-left: 1380px;
}
a {
  text-decoration: none;
}