.container {
    position: relative;
    border-radius: 100%;
   }
  
  .bottomright {
    position: absolute;
    bottom: 8px;
    left: 50px;
    font-size: 12px;
  }
  .cityimage img{
    width: 150px;
    height: 150px;
  }
  .SocialMedia img{
    width: 22px;
    height: 20px;

  }
  body{
    background: #e0e0e0;
    
  }
  #Header{
    background: rosybrown;
  }
  #searchbar{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height: 380px;
    background-position: center;
    background-size: cover; 
   
   }
  #Footer{
    background: rosybrown;
  }
  .cityimage img{
    padding: 4%;
    border-radius: 50px 50px 50px 50px;
  }
  .cityimage{
    margin :0% 15% 0% 15%;
    
  }
  body{
    margin: 0%;
    border: 5px solid black
  }
    