.container {
    position: relative;
    border-radius: 100%;
  }
  
  .bottomright {
    position: absolute;
    bottom: 8px;
    left: 50px;
    font-size: 12px;
  }
  .listview img{
    width: 250px;
    height:250px;
  }
  .SocialMedia img{
    width: 22px;
    height: 20px;

  }
    
   
  

